name: Deploy website
on:
  push:
    branches:
      - dev
jobs:
  lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Get Code
        uses: action/checkout@v3
      - name: Install Dependencies
        uses: npm ci
      - name: Lint Code
        uses: npm run lint
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps: 
      - name: Get Code
        uses: action/checkout@v3
      - name: Install Dependencies
        uses: npm ci
      - name: Test Code
        uses: npm run test


